<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="IasaEndpoint" value="http://159.138.97.108:3020/api/" />
    <add key="IasaApiKey" value="XBZ4E48-0PS4SF3-N2829W2-XD4S0BM" />
    <!--Donovan's API Key for testing, leave it commented-->
    <!-- <add key="IasaApiKey" value="7RTXE80-7W6M7TM-PWWFNVQ-M5DJPFY" /> -->
    <add key="DBConstring" value="mongodb://ganAdmin:ganAdmin123@159.138.97.108" />
    <add key="DBName" value="AAS_Version2" />
    <add key="AllowApiLog" value="True"/>
    <add key="StorageDirectory" value="C:\AAS"/>
    <add key="AssetDocumentName" value="Asset"/>
  </appSettings>

</configuration>