<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
    <add key="IasaEndpoint" value="http://159.138.97.108:3020/api/" />
    <add key="DBConstring" value="mongodb://ganAdmin:ganAdmin123@159.138.97.108" />
    <!-- <add key="DBConstring" value="mongodb://Administrator:VMware1!@159.138.83.111:27017" /> -->
    <add key="IasaApiKey" value="7RTXE80-7W6M7TM-PWWFNVQ-M5DJPFY" />
    <add key="DBName" value="BrokerAssets" />
    <add key="AssetDocumentName" value="BrokerAssetsValues"/>
    <add key="AllowApiLog" value="True"/>
    <add key="StorageDirectory" value="C:\AAS"/>
  </appSettings>
</configuration>